/******************************************************************************\
  CodeMirror
\******************************************************************************/

// @import 'codemirror/lib/codemirror.css';
// @import 'codemirror/theme/3024-day.css';
// @import 'codemirror/theme/3024-night.css';
// @import 'codemirror/theme/duotone-light.css';
// @import 'lib/codemirror';





/******************************************************************************\
  FontAwesome
\******************************************************************************/

@import '@fortawesome/fontawesome-svg-core/styles.css';
@import 'lib/fontawesome';





/******************************************************************************\
  NProgress
\******************************************************************************/

@import 'nprogress/nprogress.css';
@import 'lib/nprogress';
