/******************************************************************************\
  FontAwesome
\******************************************************************************/

@import '@fortawesome/fontawesome-svg-core/styles.css';





/******************************************************************************\
  NProgress
\******************************************************************************/

@import 'nprogress/nprogress.css';
@import 'lib/nprogress';
