{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-do-expressions",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-private-methods",
    ["prismjs", {
      "languages": [
        "css",
        "html",
        "javascript"
      ],
      "plugins": [
        "line-numbers",
        "normalize-whitespace",
        "show-language"
      ],
      "theme": "tomorrow",
      "css": true
    }]
  ]
}
