.DS_Store
.next
.env
.env.build
firebase-debug.log
yarn-error.log
yalc.lock
.vercel/
.yalc/
node_modules/
logs/
public/prism-grammars

.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
