.badge {
	background-color: hsla(var(--text-color-h), var(--text-color-s), var(--text-color-l), 0.5);
	color: var(--background-color);
	display: inline-block;
	font-size: 0.6em;
	padding: 0.2rem;
	vertical-align: baseline;
}
