[role=banner] {
	bottom: var(--gutter);
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	height: calc(100vh - (var(--gutter) * 2));
	left: var(--gutter);
	min-width: var(--banner-width);
	top: var(--gutter);
	transition-duration: 0.2s;
	transition-property:
		background-color,
		transform;

	.brand,
	nav {
		background-color: var(--background-color);
		margin-bottom: 0;
	}

	> nav {
		overflow-y: auto;

		a,
		button:not(#banner-control) {
			align-items: center;
			border: none;
			color: var(--text-color);
			cursor: pointer;
			display: flex;
			line-height: inherit;
			opacity: 1;
			padding: calc(var(--gutter) / 2) var(--gutter);
			text-decoration: none;
			transition-duration: 0.2s;
			transition-property:
				background-color,
				color,
				padding;
			white-space: nowrap;
			width: 100%;

			&:focus,
			&:hover {
				background-color: var(--brand-primary);
				color: var(--white);
				outline: none;
				width: calc(100%);
			}

			[data-icon],
			.avatar,
			.fa-layers {
				+ span {
					margin-left: var(--gutter);
				}
			}

			@media (max-height: 470px) {
				--vertical-padding: calc(var(--gutter) / 2);
				padding-bottom: var(--vertical-padding);
				padding-top: var(--vertical-padding);
			}
		}

		button:not(#banner-control) {
			overflow: hidden;

			&:before {
				display: none;
			}
		}

		li {
			display: flex;
			flex-direction: column;
			position: relative;
		}
	}

	.avatar {
		max-width: 1.3em;
	}

	.subnav {
		> ul {
			background-color: var(--background-color-alt);
			color: var(--background-color);
			overflow: hidden;
			transition-duration: 0.2s;
			transition-property: max-height, opacity;
		}

		> button:after {
			border-color: transparent;
			border-style: solid;
			border-width: 0.5rem;
			border-bottom-width: 0;
			border-top-color: currentColor;
			content: '';
			display: inline;
			margin-left: auto;
			opacity: 1;
			position: initial;
			transform: rotate(0);
			transition-duration: 0.2s;
			transition-property: border-top-color, transform;
		}

		> ul {
			&[aria-expanded=false] {
				max-height: 0;
				opacity: 0;
			}

			&[aria-expanded=true] {
				max-height: 100vh !important;
				opacity: 1 !important;
			}
		}
	}

	nav.social {
		flex-shrink: 0;
		margin-top: auto;

		ul {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
		}

		@media (max-height: 670px) {
			display: none;
		}
	}

	@media (max-width: 1300px) {
		background-color: var(--background-color);
		position: fixed;
		transform: translateX(calc(-100% - var(--gutter)));
		will-change: transform;
		z-index: 1;

		&[aria-expanded=true] {
			transform: translateX(0);

			~ main {
				pointer-events: none;
				transform: scale(0.8) translateY(20vh);

				&:after {
					pointer-events: initial;
					opacity: 0.4;
				}
			}
		}
	}

	@media (min-width: 1300px) {
		position: sticky;
		top: var(--gutter);
		z-index: 1;
	}
}
