@use '../functions/native-max' as *;

.block {
	--header-image-height: 30rem;
	--vertical-padding: 5rem;

	align-content: stretch;
	background-color: var(--background-color);
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	margin-top: var(--gutter);
	padding: var(--vertical-padding) 0;
	position: relative;
	width: 100%;

	& > * {
		$width: 80rem;
		margin-left: native-max(calc(50% - (#{$width} / 2)), 10rem);
		margin-right: native-max(calc(50% - (#{$width} / 2)), 10rem);
		max-width: $width;
	}

	&.no-pad {
		padding: 0;

		> * {
			margin: 0;
			max-width: initial;
		}
	}

	&.no-top-margin {
		margin-top: 0;
	}

	&:not(:last-child):after {
		background-image: radial-gradient(
			closest-side,
			rgba(0, 0, 0, 0.2),
			var(--transparent)
		);
		background-position-y: -100%;
		background-size: 100% 200%;
		content: '';
		display: block;
		height: 1rem;
		left: 50%;
		position: absolute;
		top: 100%;
		transform: translateX(-50%);
		width: 100%;
	}

	&.center,
	&.hero {
		align-items: center;
		justify-content: center;
	}

	.block-header-image {
		height: var(--header-image-height);
		margin-left: 0;
		margin-top: calc(var(--vertical-padding) * -1);
		margin-right: 0;
		max-width: 100%;
		object-fit: cover;
		overflow: hidden;
		position: relative;
		width: 100%;

		&:after {
			background-image: linear-gradient(
				to bottom,
				transparent,
				var(--background-color)
			);
			bottom: 0;
			content: '';
			display: block;
			height: calc(var(--header-image-height) / 2);
			left: 0;
			position: absolute;
			right: 0;
		}
	}

	@media (max-width: 1200px) {
		& > * {
			margin-left: 10vw;
			margin-right: 10vw;
			max-width: calc(100% - 20vw);
		}
	}

	@media (max-width: 500px) {
		--header-image-height: 15rem;
	}
}
