.client-list {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	margin-top: var(--gutter);
	max-width: 100%;

	li {
		align-items: center;
		display: flex;
		justify-content: center;
		margin: var(--gutter);
		max-height: 5rem;
		max-width: 15rem;
	}

	a {
		display: flex;
		transition-duration: 0.2s;
		transition-property: opacity;

		> * {
			display: flex;
		}
	}

	.logo {
		width: 100%;
	}

	svg {
		fill: var(--text-color);
		max-height: 5rem;
		width: 100%;
	}

	&:focus-within,
	&:hover {
		a {
			opacity: 0.5;

			&:focus,
			&:hover {
				opacity: 1;
			}
		}
	}

	@media (min-width: 1300px) {
		grid-template-columns: repeat(auto-fit, minmax(10rem, 20rem));
	}
}
