[role=contentinfo] {
	align-items: flex-start;
	border: none;
	border-top-color: var(--brand-primary);
	border-top-style: solid;
	border-top-width: 0.5rem;
	display: grid;
	grid-template-areas:
		'trezy account resources'
		'social social social';
	grid-template-columns: repeat(3, 1fr);
	padding: 5rem calc((50% - 60rem) + 10rem);

	header {
		font-weight: bold;
		margin-bottom: var(--gutter);
	}

	.trezy {
		grid-area: trezy;
	}

	.account {
		grid-area: account;
	}

	.resources {
		grid-area: resources;
	}

	nav {
		margin: 0;

		&.social {
			grid-area: social;
			margin-top: 10rem;

			ul {
				display: flex;
				flex-wrap: wrap;
			}

			a {
				padding: 1rem;
			}
		}
	}
}
