[role=contentinfo] {
	align-items: flex-start;
	border: none;
	border-top-color: var(--brand-primary);
	border-top-style: solid;
	border-top-width: 0.5rem;
	display: grid;
	grid-template-areas:
		'trezy account resources'
		'social social social';
	grid-template-columns: repeat(3, 1fr);
	padding: 5rem max(calc(50% - (80rem / 2)), 10rem);

	@media (max-width: 1200px) {
		padding-left: 10vw;
		padding-right: 10vw;
	}

	@media (max-width: 450px) {
		grid-template-areas:
			'trezy'
			'account'
			'resources'
			'social';
		grid-template-columns: 1fr;
	}

	& > * {
		max-width: initial;
	}

	header {
		font-weight: bold;
		margin-bottom: var(--gutter);

		@media (max-width: 450px) {
			margin-bottom: 0;
		}
	}

	.trezy {
		grid-area: trezy;
	}

	.account {
		grid-area: account;
	}

	.resources {
		grid-area: resources;
	}

	nav {
		margin: 0;

		&.social {
			grid-area: social;
			margin-top: 10rem;

			@media (max-width: 450px) {
				margin-top: 0;
			}

			ul {
				display: flex;
				flex-wrap: wrap;
			}

			a {
				padding: 1rem;
			}
		}

		@media (max-width: 450px) {
			margin-bottom: var(--gutter);
		}
	}
}
