.input-container {
	--shadow-opacity: 0;

	border-color: var(--brand-primary);
	border-style: solid;
	border-width: 0;
	border-bottom-width: 0.1rem;
	box-shadow: 0 0 0 0.4rem hsla(var(--brand-primary-hsl), var(--shadow-opacity));
	display: grid;
	grid-template-areas: 'caret prefix input';
	grid-template-columns: auto auto 1fr;
	transition-duration: 0.2s;
	transition-property: box-shadow;

	&:before {
		color: var(--brand-primary);
		content: '>';
		grid-area: 'caret';
		margin-left: 0;
		margin-right: 0.5rem;
		transition-duration: 0.2s;
		transition-property: margin-left;
	}

	.prefix {
		grid-area: 'prefix';
		color: #767676;
		transition-duration: 0.5s;
		transition-property: color;
	}

	input,
	textarea {
		grid-area: 'input';

		&:focus {
			box-shadow: none;
		}
	}

	&:focus-within{
		--shadow-opacity: 0.4;

		&:before {
			animation-direction: alternate;
			animation-duration: 1s;
			animation-iteration-count: infinite;
			animation-name: full-pulse;
			animation-timing-function: linear;
			margin-left: 0.5rem;
		}
	}
}
