.pagination {
	display: flex;
	gap: var(--gutter);
	justify-content: center;

	.page-list {
		display: flex;
		gap: var(--gutter);
		margin-left: auto;
		margin-right: auto;
	}

	.button {
		padding: var(--gutter);
	}
}
