button, .button {
  background-color: transparent;
  border: none;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  padding: var(--gutter) calc(var(--gutter) * 2);
  opacity: 0.8;
  transform: scale(1);
  transition-duration: 0.2s;
  transition-property:
    box-shadow,
    opacity,
    transform;

  &:not(:disabled) {
    &:focus,
    &:hover {
      box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
      opacity: 1;
      outline: none;
      transform: scale(1.2);
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.iconic {
    justify-content: center;
    padding: var(--gutter);
  }

  &.primary {
    background-color: var(--brand-primary);
    color: var(--background-color);
  }
}
