input, textarea {
  background-color: inherit;
  background-image: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  height: 100%;
  padding: 0;
  transition-duration: 0.5s;
  transition-property: color;
  width: 100%;

  &[disabled=true] {
    background-color: inherit;
    background-image: none;
    color: var(--dim-white);
  }
}
