ol, ul {
  &.comma-separated {
    > li:not(:last-child):after {
      content: ', ';
      margin-right: 0.5em;
    }
  }

  &.bulleted,
  &.numbered {
    list-style-position: outside;
    padding-left: 2rem;
  }

  &.bulleted {
    list-style-type: square;
  }

  &.gapless li {
    margin-top: 0;
  }

  &.inline {
    display: inline-block;

    li {
      display: inline-block;
      margin-right: 0.5em;
    }
  }

  &.numbered {
    list-style-type: georgian;
  }

  &.two-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
