* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  image-rendering: pixelated;
  text-overflow: ellipsis;
  text-rendering: optimizeLegibility;

  @media (prefers-reduced-motion: reduce) {
    &,
    &:after,
    &:before {
      animation-duration: 0.0001s !important;
      animation-delay: 0.0001s !important;
      transition-duration: 0.0001s !important;
      transition-delay: 0.0001s !important;
    }
  }
}

html,
body,
[data-reactroot] {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

html {
  background-color: var(--text-color);
  font-size: 10px;
  overflow-x: hidden;
}

body {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  transition-duration: 0.2s;
  transition-property: font-size;

  .next-wrapper,
  #__next {
    height: 100%;
  }

  @media (max-width: 1000px) {
    font-size: 14px;
  }

  @media (max-width: 600px) {
    font-size: 12px;
  }
}
