table {
  --border-color: hsla(var(--text-color-h), var(--text-color-s), var(--text-color-l), 0.2);
  border-top-color: var(--border-color);
  border-top-style: solid;
  border-top-width: 0.1rem;
  width: 100%;

  tr {
    background-color: var(--transparent);
    border-bottom-color: var(--border-color);
    border-bottom-style: solid;
    border-bottom-width: 0.1rem;
    transition-duration: 0.2s;
    transition-property: background-color;

    &:hover {
      background-color: hsla(var(--text-color-h), var(--text-color-s), var(--text-color-l), 0.1);
    }
  }

  th,
  td {
    padding-left: var(--gutter);
    padding-right: var(--gutter);
  }

  th {
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
  }

  td {}
}
