@keyframes slide-in-from-left-small {
  from {
    transform: translateX(-50px);
  }

  to {
    transform: translateX(0);
  }
}

[data-animation='slide-in-from-left-small'] {
  animation-name: slide-in-from-left-small;
}
