@keyframes slide-in-from-left {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

[data-animation='slide-in-from-left'] {
  animation-name: slide-in-from-left;
}
