---
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout class="legal-documents" title="Legal Documents" description="Legal Documents">
	<header class="block">
		<h2>Legal Documents</h2>
	</header>

	<section class="block">
		<ul>
			<li>
				<a href="/legal/terms-of-service">
					Terms of Service
				</a>
			</li>

			<li>
				<a href="/legal/privacy-policy">
					Privacy Policy
				</a>
			</li>

			<li>
				<a href="/legal/cookie-policy">
					Cookie Policy
				</a>
			</li>

			<li>
				<a href="/legal/code-of-conduct">
					Code of Conduct
				</a>
			</li>
		</ul>
	</section>
</BaseLayout>
