blockquote {
	border-left-color: var(--brand-primary);
	border-left-style: solid;
	border-left-width: 0.5rem;
	padding: calc(var(--gutter) / 2) var(--gutter);

	footer {
		font-style: italic;

		p:first-of-type:before {
			content: '- ';
		}
	}
}
