button {
	appearance: none;
	background-color: var(--transparent);
	border: none;
	color: inherit;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: inherit;
	line-height: 1;
	padding: 0;

	> * {
		pointer-events: none;
	}
}
