dialog {
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.8);
  left: 50%;
  margin: 0;
  max-height: 90vh;
  overflow: auto;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
}
