dl {
	display: grid;
	// gap: var(--gutter);
	grid-template-columns: auto 1fr;

	dt {
		display: flex;
		font-weight: bold;
		max-width: 100%;
		white-space: nowrap;

		&:after {
			content: '----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------';
			// flex-basis: 5rem;
			flex-grow: 1;
			flex-shrink: 1;
			font-weight: 100;
			margin: 0 1ch;
			width: 5rem;
			overflow: hidden;
			text-overflow: clip;
		}

		&.full-width {
			grid-column: span 2;
			&:after {
				display: none;;
			}
		}

		small {
			margin-left: var(--gutter);
			opacity: 0.5;
		}
	}

	dd {
		grid-column-start: 2;
	}

	dt,
	dt + dd {
		padding-top: var(--gutter);
	}
}
