input, textarea {
	--shadow-opacity: 0;

	background-color: inherit;
	background-image: none;
	border: none;
	box-shadow: 0 0 0 0.4rem hsla(var(--brand-primary-hsl), var(--shadow-opacity));
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: 2;
	margin: 0;
	padding: 0;
	resize: vertical;
	transition-duration: 0.2s;
	transition-property: box-shadow, color;
	grid-area: 'input';

	&[type=radio] {
		appearance: none;
		background-color: var(--white);
		border-color: var(--black);
		border-radius: 50%;
		border-style: solid;
		border-width: 0.1em;
		cursor: pointer;
		height: 1ch;
		transition-duration: 0.1s;
		transition-property: background-color;
		width: 1ch;

		&:checked {
			background-color: var(--black);
		}
	}

	&[disabled=true] {
		background-color: inherit;
		background-image: none;
		color: var(--dim-white);
	}

	&:focus {
		--shadow-opacity: 0.4;

		outline: none;
	}
}
