button, .button {
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  line-height: 1;
  padding: 1rem;
  opacity: 0.8;
  transform: scale(1);
  transition-duration: 0.2s;
  transition-property: opacity, transform;

  &:focus,
  &:hover {
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
    opacity: 1;
    transform: scale(1.2);
  }

  &.primary {
    background-color: var(--brand-primary);
    color: var(--white);
  }
}
