section {
  align-content: stretch;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  max-width: calc(100rem - (var(--gutter) * 2));
  padding: var(--gutter);
  width: 100%;
}
