---
// Ported from legacy/app/not-found.js
import BaseLayout from '@layouts/BaseLayout.astro'
---
<BaseLayout class="not-found" title="Not Found">
	<header class="block">
		<h2><code>404</code> - Probably Gone Forever</h2>
	</header>

	<section class="block">
		<p>I swear that page was around here somewhere. I'll go look for it and... uh... I guess I'll let you know if it turns up? 🤷🏻‍♂️</p>
	</section>
</BaseLayout>
