---
import BaseLayout from '@layouts/BaseLayout.astro'
import Experience from '@components/Experience.astro'
---

<BaseLayout class="experience" title="Experience" description="Experience">
	<header class="block">
		<h2>Experience</h2>
	</header>

	<Experience />
</BaseLayout>
