[role=banner] {
  bottom: var(--gutter);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font-family: 'Source Code Pro', monospace;
  height: calc(100vh - (var(--gutter) * 2));
  left: var(--gutter);
  min-width: var(--banner-width);
  top: var(--gutter);
  transition-duration: 0.2s;
  transition-property:
    background-color,
    transform;

  %anchor-hover-styles {
    background-color: var(--brand-primary);
    color: var(--white);
    outline: none;
    width: calc(100%);
  }

  %label-hover-styles {
    &:after {
      border-top-color: var(--white);
    }
  }

  [for='banner-control'] {
    font-size: 2em;
    left: calc(100% + var(--gutter));
    opacity: 1;
    position: absolute;
    top: 0;
    transition-duration: 0.2s;
    transition-property: opacity;
    width: auto;

    svg:not(:first-child) {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    @media (min-width: 1300px) {
      &, &:focus {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  .brand,
  nav {
    background-color: var(--background-color);
    margin-bottom: 0;
  }

  nav {
    overflow-y: auto;

    a,
    button,
    label {
      align-items: center;
      border: none;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
      color: var(--text-color);
      cursor: pointer;
      display: flex;
      line-height: inherit;
      opacity: 1;
      padding: calc(var(--gutter) / 2) var(--gutter);
      text-decoration: none;
      transition-duration: 0.2s;
      transition-property:
        background-color,
        box-shadow,
        color,
        padding;
      white-space: nowrap;
      width: 100%;

      &:focus,
      &:hover {
        @extend %anchor-hover-styles;

        box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
        z-index: 1;
      }

      [data-icon],
      .avatar,
      .fa-layers {
        + span {
          margin-left: var(--gutter);
        }
      }

      @media (max-height: 470px) {
        --vertical-padding: calc(var(--gutter) / 2);
        padding-bottom: var(--vertical-padding);
        padding-top: var(--vertical-padding);
      }
    }

    label {
      &:after {
        border-color: transparent;
        border-style: solid;
        border-width: 0.5rem;
        border-bottom-width: 0;
        border-top-color: var(--text-color);
        content: '';
        height: 0;
        margin-left: auto;
        transform: rotate(0);
        transition-duration: 0.2s;
        transition-property: border-top-color, transform;
        width: 0;
      }

      &:hover,
      &:focus {
        @extend %label-hover-styles;
      }
    }

    li {
      display: flex;
      flex-direction: column;
      position: relative;

      &:focus,
      &:hover {
        > a,
        > label {
          @extend %anchor-hover-styles;
        }
      }
    }
  }

  .avatar {
    max-width: 1.3em;
  }

  .subnav {
    background-color: hsla(var(--text-color-h), var(--text-color-s), var(--text-color-l), 0.1);
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
    color: var(--background-color);
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    transition-duration: 0.2s;
    transition-property: max-height, opacity;
  }

  [name='subnav']:checked {
    ~ ul.subnav {
      max-height: 100vh !important;
      opacity: 1 !important;
      pointer-events: initial;
    }

    ~ a,
    ~ label {
      @extend %anchor-hover-styles;
      @extend %label-hover-styles;

      box-shadow: none;

      &:after {
        transform: rotate(-180deg);
      }
    }
  }

  nav.social {
    flex-shrink: 0;
    margin-top: auto;

    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-height: 670px) {
      display: none;
    }
  }

  @media (max-width: 1300px) {
    background-color: var(--background-color);
    position: fixed;
    transform: translateX(calc(-100% - var(--gutter)));
    z-index: 1;
  }

  @media (min-width: 1300px) {
    position: sticky;
    top: var(--gutter);
    will-change: transform;
    z-index: 1;
  }
}
