.character-preview {
  align-items: center;
  background-color: var(--text-color);
  flex-grow: 0;
  flex-shrink: 1;
  justify-content: center;
  display: flex;
  padding: 2rem;
  position: relative;
  height: 100%;
  width: 100%;

  &.mini {
    height: auto;
    padding: 0;
    width: auto;
  }

  aside {
    background-color: var(--background-color);
    left: 2rem;
    display: none;
    opacity: 0.2;
    padding: 1rem;
    position: absolute;
    top: 2rem;
  }
}
