.hero {
  min-height: 90vh;
  width: 100%;

  &.branded {
    --white-overlay: rgba(255, 255, 255, 0.9);

    background-image:
      linear-gradient(
        var(--white-overlay),
        var(--white-overlay)
      ),
      url(/images/logos/trezy.svg);
    background-position: center;
    background-repeat: no-repeat;
    text-shadow:
      0 0.1rem var(--white),
      0.1rem 0 var(--white),
      0.1rem 0.1rem var(--white);
  }

  > header {
    font-size: 3em;
  }
}
