.response-form {
  background-color: var(--white);
  bottom: var(--gutter);
  cursor: text;
  margin-top: var(--gutter);
  padding: var(--gutter);
  position: sticky;

  &:after,
  &:before {
    border-style: solid;
    border-color: var(--brand-primary);
    border-width: 0;
    content: '';
    display: block;
    height: 1rem;
    left: 0;
    position: absolute;
    right: 0;
  }

  &:after {
    background-image: linear-gradient(
      to bottom,
      var(--white),
      var(--transparent)
    );
    border-top-width: 0.1rem;
    top: 100%;
  }

  &:before {
    background-image: linear-gradient(
      to top,
      var(--white),
      var(--transparent)
    );
    border-bottom-width: 0.1rem;
    bottom: 100%;
  }

  .published-message {
    align-items: center;
    animation-delay:
      0s,
      4.5s;
    animation-duration: 0.5s;
    animation-fill-mode:
      both,
      forwards;
    animation-name:
      fade-in,
      fade-out;
    background-color: hsla(var(--white-h), var(--white-s), var(--white-l), 0.8);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;

    div {
      background-color: var(--brand-primary);
      color: var(--white);
      padding: var(--gutter);
    }
  }
}
