[role=application] {
  background-color: var(--text-color);
  // font-family: 'Open Sans', sans-serif;
  font-family: 'Source Code Pro', monospace;
  height: 100vh;
  line-height: 2;
  overflow: auto;
  width: 100vw;
}
