.client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: var(--gutter);
  width: 100%;

  a {
    display: flex;

    > * {
      display: flex;
    }
  }

  img {
    max-width: 100%;
    min-height: 100%;
  }

  svg {
    fill: var(--dark-grey);
    margin: var(--gutter);
    max-height: 5rem;
    transition-duration: 0.2s;
    transition-property: opacity;

    &:focus,
    &:hover {
      opacity: 1;
    }
  }

  &:focus-within,
  &:hover {
    svg {
      opacity: 0.5;

      &:focus,
      &:hover {
        opacity: 1;
      }
    }
  }
}
