.client-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 15rem));
  margin-top: var(--gutter);
  width: 100%;

  li {
    margin: var(--gutter);
  }

  a {
    display: flex;

    > * {
      display: flex;
    }
  }

  .logo {
    width: 100%;
  }

  svg {
    fill: var(--dark-grey);
    max-height: 5rem;
    transition-duration: 0.2s;
    transition-property: opacity;
    width: 100%;

    &:focus,
    &:hover {
      opacity: 1;
    }
  }

  &:focus-within,
  &:hover {
    svg {
      opacity: 0.5;

      &:focus,
      &:hover {
        opacity: 1;
      }
    }
  }

  @media (min-width: 1300px) {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 20rem));
  }
}
