@keyframes slide-out-to-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

[data-animation='slide-out-to-left'] {
  animation-name: slide-out-to-left;
}
