@keyframes slide-out-to-left-small {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50px);
  }
}

[data-animation='slide-out-to-left-small'] {
  animation-name: slide-out-to-left-small;
}
