/******************************************************************************\
	Local overrides (must come before @import per Sass module rules)
\******************************************************************************/

@use 'lib/kbdfun';
@use 'lib/nprogress';





/******************************************************************************\
	CodeMirror
\******************************************************************************/

// @import 'codemirror/lib/codemirror.css';
// @import 'codemirror/theme/3024-day.css';
// @import 'codemirror/theme/3024-night.css';
// @import 'codemirror/theme/duotone-light.css';
// @import 'lib/codemirror';





/******************************************************************************\
	FontAwesome
\******************************************************************************/

@import '@fortawesome/fontawesome-svg-core/styles.css';





/******************************************************************************\
	NProgress
\******************************************************************************/

@import 'nprogress/nprogress.css';





/******************************************************************************\
	Prism.js
\******************************************************************************/

@import 'prismjs/themes/prism-tomorrow.css';
@import 'prismjs/plugins/line-numbers/prism-line-numbers.css';
@import 'prismjs/plugins/toolbar/prism-toolbar.css';
